
#homemain{

    width:100vw;
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
    /* height:100vh; */

}

#logopopupmain{

    width:100vw;
    /* border:2px solid green; */
    height:0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrinkk steps(100,end);
    animation-duration: 3s;
    transition: all 2s;
    /* display: none; */
    opacity:0;

}

@keyframes shrinkk{
    0%{
        opacity: 0;
    }
    1%{
        height:70vh;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity:1;
    }
    99%{
        height:70vh;
    }
    100%{
        height:0vh;
        opacity: 0;
    }
}

#logopopup{

    width:35%;
    height:67%;
    /* border:2px solid blue; */

}

#logopop{
    width:100%;
    height:100%;
}

#introtext1{

    width:100vw;
    /* height:50vh; */
    text-align: center;
    /* animation: 5s ease-in-out 0s outt; */
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: BellFort;

}

#logomid{
    /* margin-top:-5px; */
    height:30%;
    width:10%;
}

#introtext h1{
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    text-align: center;
    font-size: 50px;
    font-family: BellFort;
    margin-top: 30px;
    /* text-decoration: underline; */
    /* animation: */
        /* typing 3.5s steps(40, end), */
        /* blinker .75s step-end infinite; */
    /* animation: 3.5s steps(40, end) 5s typing;
    animation: .75 step-end 5s infinite blinker; */

    /* animation-delay: 3.5s; */
    width:50%;
    opacity:1;

    /* animation: 5s ease-in-out 0s outt; */
}

@keyframes outt {
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.midintrotext{
    color:white;
}

#introdata{

    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    /* border:2px solid yellow; */
    justify-content: space-around;
    height:220vh;

}

.cards{
    width:80%;
    height:90%;
    /* border:2px solid white; */
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftlogoo{
    /* border:1px solid white; */
    height:85%;
    width:40%;
}

.righttextt{
    /* border:1px solid white; */
    height:85%;
    width:40%;
    
}

.midtextimg{
    width:100%;
    height:100%;
    box-shadow: 0px 0px 8px 3px #ffffff6b;
    border-radius: 5px; 
}

.cardtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.055);
}

.texttt{
    font-size: 20px;
    color:white;
    font-family: BellFort;
    line-height: 40px;
}

#aboutmaindiv{

    width:100vw;
    height:200vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

#abouthead2{
    width:100%;
    height:10vh;
    /* border:1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#abouthead2 span{
    /* margin:auto; */
    color:aliceblue;
    font-size: 30px;
    /* text-decoration: underline; */
    letter-spacing: 2px;
    text-shadow:1px 1px 2px #287186;
}

#aboutbackk{
    background-color: #2b677768;
    width:80%;
    height:250vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.aboutuscard{
    width:80%;
    height:40vh;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    background-color: #ffffff1b;
}

.aboutuscardleft{
    height:100%;
    width:50%;
    /* border:1px solid green; */
}

.aboutuscardright{
    height:100%;
    width:50%;
    /* border:1px solid green; */
}

.aboutuscardimg{
    width:100%;
    height:100%;
}

.aboutuscardtextdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
}

.aboutuscardhead{
    color:#287186;
    font-size: 34px;
    font-weight: 500;
    text-shadow: 0px 0px 2px white;
    margin: 20px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-decoration: wavy;
    text-decoration-color: white;
}

.aboutuscardtext{
    color:white;
    letter-spacing: 1px;
    text-align: justify;
    margin: 10px;
    font-size: 16px;
}
