#c1e{
    margin-top: 30px;
    color:white;
    background-color: rgba(40, 39, 39, 0.21);
    /* border: 2px solid red; */
    height:70vh;
    width:50vw;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #2b6777, 0px 0px 8px 2px #ffffff;
}

.cule{
    color:#2b6777;
}

.cuce{
    box-shadow: 0px 0px 8px 2px #2b6777;
    background-color: rgba(255, 255, 255, 0.11);
    height:50px;
    width:400px;
    color:#2b6777;
}