#footermain{

    width:100vw;
    height:50vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2b677765;

}

.fdiv{

    height:90%;
    width:27%;
    /* border:2px solid green; */
    background-color: rgba(0, 0, 0, 0.091);

}

#footerleft{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

#footerimg2{
    width:70%;
    height:70%;
}

#logopop{
    height:70%;
    width:45%;
}

#midline{
    height:1px;
    width:100%;
    border:1px solid white;
    margin-top: 1px;
    margin-bottom: 2px;
}

#footerlogotext{
    color:white;
    margin-top: 1px;
    font-size: 18px;
}

#footermid{
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items: center;
    color:white;

}

#footermidhead{
    margin-top: 30px;
    font-size:18px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
}

#footermidtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(209, 204, 204);
    justify-content: space-around;
    height:70%;
    margin-top: 10px;
}

#footermidtext span:hover{
    color:black;
}

#footerright{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    color:white;
}

#footerinp{

    height:60%;
    width:80%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#footerinp span{
    margin-top: 10px;
    font-size:18px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
}

#fmail{
    width:65%;
    height:30px;
    background-color: rgba(255, 255, 255, 0.158);
    border:0px;
    text-align: center;
    color:white;
}

#fbutton{
    width:40%;
    height:25px;
    background-color: #2b6777;
    border:0px;
    color:rgb(207, 200, 200);
}

#flogos{
    width:70%;
    height:20%;
    /* border:1px solid white; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flogoimg{
    width:10%;
    height:50%;
}