#homemain {

    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* height:100vh; */

}

#logopopupmain{

    width:100vw;
    /* border:2px solid green; */
    height:0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrinkk steps(100,end);
    animation-duration: 3s;
    transition: all 2s;
    /* display: none; */
    opacity:0;

}

@keyframes shrinkk{
    0%{
        opacity: 0;
    }
    1%{
        height:70vh;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity:1;
    }
    99%{
        height:70vh;
    }
    100%{
        height:0vh;
        opacity: 0;
    }
}

#logopopup{

    width:35%;
    height:67%;
    /* border:2px solid blue; */

}

#logopop{
    width:100%;
    height:100%;
}

#logopopupmain {

    width: 100vw;
    /* border: 2px solid green; */
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrinkk steps(100, end);
    animation-duration: 3s;
    transition: all 2s;
    /* display: none; */
    opacity: 0;

}

@keyframes shrinkk {
    0% {
        opacity: 0;
    }

    1% {
        height: 80vh;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        height: 80vh;
    }

    100% {
        height: 0vh;
        opacity: 0;
    }
}

#logopopup {

    /* width:35%; */
    /* height:67%; */
    /* border: 2px solid blue; */
    height: 100px;
    width: 100px;

}

#logopop {
    width: 100%;
    height: 100%;
}

#introtext2 {

    width: 100vw;
    /* height:50vh; */
    text-align: center;
    animation: 5s ease-in-out 0s outt;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: BellFort; */

}

#midimgsample {
    width: 100%;
    height: 70vh;
    /* border: 2px solid black; */
    background-image: url("./../logos/hosp2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

#samplerighttext{

    /* border:1px solid black; */
    align-self: right;
    width:40%;
    height:80%;
    margin:4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.animate-charcter {
    width:100%;
    height:45%;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            /* #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100% */
            #c8d8e4 0%,
            #2b6777 29%,
            #52ab98 67%,
            #2b2d2d 100%
            );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#righttextbuttons{
    height:12%;
    width:80%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.righttextbt{
    width:35%;
    height:94%;
    background-color: #2b67773f;
    color:#f2f2f2;
    text-shadow: 0px 0px 1px black;
    font-size: 17px;
    border-radius: 4px;
    letter-spacing: 2px;
    border: 0;
    box-shadow: 0px 0px 4px 0px #13121259;
    transition: all 0.05s ease-in-out;
}

.righttextbt:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px #13121259;
}

#specialitydiv{

    width:85%;
    height:60vh;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.texttmidhead{
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    height:20%;
    margin-top: 5%;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px #2b6777;
    
}

#specialitydivblock{
    height:80%;
    /* border: 1px solid yellow; */
    width:100%;
    background-color: #2b677791;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carddspecial{
    width:15%;
    height:75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cardtext2{
    color:white;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.specialitydivopt{

    width:100%;
    height:100%;
    /* border:1px solid black; */
    box-shadow: 0px 0px 30px 0px #1718184e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2b1;
    animation: shadowfade 0.4s alternate-reverse 0s infinite;

}

@keyframes shadowfade {
    0%{
        box-shadow: 0px 0px 5px 1px #fafcfc95;
    }
    100%{
        box-shadow: 0px 0px 8px 2px #ffffff;
    }
}

.specialityimg{

    height:50%;
    width:50%;
    /* border-radius: 50%; */
    /* margin: auto; */

}

#logomid {
    /* margin-top:-5px; */
    height: 30%;
    width: 10%;
    border: 1px solid white;
}

#introtext h1 {
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    text-align: center;
    font-size: 50px;
    /* text-decoration: underline; */
    /* animation: */
    /* typing 3.5s steps(40, end), */
    /* blinker .75s step-end infinite; */
    animation: 3.5s steps(40, end) 5s typing;
    /* animation: .75 step-end 5s infinite blinker; */

    /* animation-delay: 3.5s; */
    width: 50%;
    opacity: 1;

    /* animation: 5s ease-in-out 0s outt; */
}

/* @keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blinker {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
} 

@keyframes outt {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.midintrotext {
    color: white;
}

#introdata2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 2px solid yellow; */
    justify-content: space-around;
    height: 290vh;

}

#cardshead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height:20vh; */
    height:10%;
    box-shadow: 0px 0px 0px 0px black;
}

.cards2 {
    width: 80%;
    height: 20%;
    /* border: 2px solid white; */
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.388);
    border-radius: 4px;
}

.leftlogoo2 {
    /* border: 1px solid white; */
    height: 100%;
    width: 55%;
    /* background-color: #2b6777; */
}

.righttextt2 {
    /* border: 1px solid white; */
    height: 100%;
    width: 45%;
    /* background-color: #2b677755; */

}

.midtextimg2 {
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 0px 8px 3px #ffffff6b; */
    /* border-radius: 5px; */
}

.cardtextt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.055);
    text-align: justify;
    letter-spacing: 1px;
    /* margin: ; */
}

.cardtextt23{
    background-color:#2b677796;
    /* margin: 10px; */
}

.texttt23 {
    font-size: 20px;
    color: white;
    /* font-family: BellFort; */
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 40px; */
    margin: 10px;
}

.headd23{
    font-size:28px;
    color:#52ab98;
    margin-bottom: 30px;
}


.cardtextt32{
    background-color:#c8d8e482;
}

.texttt32 {
    font-size: 20px;
    color:#2b6777;
    /* font-family: BellFort; */
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 40px; */
    margin:10px;
}

.headd32{
    font-size: 28px;
    color:#52ab98;
    margin-bottom: 30px;
}

#testimonydiv{

    width:100%;
    height:75vh;
    /* border:2px solid blue; */
    background-color: #ffffff85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#testhead{
    width:100%;
    height:15%;
    /* border:1px solid red; */
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testmain{
    width:100%;
    height:80%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#testimg{

    width:40%;
    height:85%;
    /* border:1px solid green; */
    margin-left: 100px;

}

#testimg1{
    height:100%;
    width:100%;
}

#testrev{

    width:40%;
    height:85%;
    /* border:1px solid green; */
    margin-right: 100px;

}

.testrevcard{

    height:50%;
    width:100%;
    /* border:1px solid yellow; */
    display: flex;
    flex-direction: column;
    text-align: left;

}

.revcardhead{
    font-size: 18px;
    margin:4px;
    color:#2b6777
}

.revcardadd{
    font-size: 14px;
    margin:4px;
    color:grey
}

.revcardtext{
    font-size: 16px;
    margin:8px;
    color:rgb(48, 47, 47);
}