#navmain{

    width:99vw;
    margin: auto;
    height:15vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    background-color: #e2e2e21c;
    /* box-shadow: 0px 0px 8px 2px #888888; */
    box-shadow: 0px 0px 8px 2px #bc7a1792; 
    text-shadow:0px 0px 16px #bc7a17 ;
    /* position: fixed; */

}

#logodiv{

    height:100%;
    width:50%;
    /* border:1px solid blue; */
    /* background-image:url(./../logos/MyWorld-logos_white.png); */

}

#logoo{

    height:100%;
    width:22%;
    /* border:1px solid brown; */
    margin-left:3%;
    /* border: 2px solid red; */

}

#logoimg{
    height:100%;
    width:100%;
}

#optiondiv{

    height:100%;
    width:50%;
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.options{
    height:100%;
    width:16%;
    /* border:2px solid brown; */
    color:#E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family:BellFort;
    transition: all 0.1s ease;
    text-decoration: none;
}

.options:hover{
    font-size: 22px;
    background-color: #e2e2e22c;
}

#outerrnavar{
    display: flex;
    flex-direction: column;
    position:sticky;
    top:0;
    background-color: #2b677770;
    box-shadow: 0px 0px 3px 0px #ffffff49;
    box-shadow:0px 1px 8px 0px rgba(255, 255, 255, 0.411);
}

#infoslider{
    letter-spacing: 1px;
    font-size: 14px;
    color:white;
}

#navbarmain2{

    /* border:2px solid red; */
    width:100vw;
    height:18vh;
    display: flex;
    justify-content: center;
    /* background-color: #ffffff3e; */
    /* background-color: #2b677770; */
    margin:auto;
    /* margin-top: 5px; */
    /* position: fixed; */
    /* box-shadow: 0px 0px 3px 0px #ffffff49; */
    /* animation: fadee 1s alternate-reverse 0s infinite; */
    /* position:sticky;
    top:0; */
    /* box-shadow:0px 1px 8px 0px rgba(255, 255, 255, 0.411); */

}

@keyframes fadee{

    0%{
        background-color: #2b677770;
    }
    100%{
        background-color: #2b67770a;
    }

}

#navbarmainmid2{

    /* border:1px solid blue; */
    width:80%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbarmidopt2{

    height:100%;
    width:12%;
    /* border:1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#navbarlogo2{
    width:20%;
}

#navbarlogoimg2{
    width:72%;
    height:140%;
}

.navbartext2{
    text-align: center;
    font-size: 17px;
    color:#ffffff;
    font-weight: 200;
    letter-spacing: 2px;
    transition: all 0.01s ease-in-out;
    text-shadow: 0px 0px 2px #2b6777;
    /* animation: sizebs 1s alternate-reverse 0s infinite; */
}

/* @keyframes sizebs {

    0%{
        font-size:17px;
    }
    100%{
        font-size: 19px;
    }
    
} */

.navbartext2:hover{
    color:#5fd3bc;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0px 0px 0px #ffffff;
}