#navmain{

    width:99vw;
    margin: auto;
    height:15vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    background-color: #e2e2e21c;
    /* box-shadow: 0px 0px 8px 2px #888888; */
    box-shadow: 0px 0px 8px 2px #bc7a1792; 
    text-shadow:0px 0px 16px #bc7a17 ;

}

#logodiv{

    height:100%;
    width:50%;
    /* border:1px solid blue; */
    /* background-image:url(./../logos/MyWorld-logos_white.png); */

}

#logoo{

    height:100%;
    width:22%;
    /* border:1px solid brown; */
    margin-left:3%;
    /* border: 2px solid red; */

}

#logoimg{
    height:100%;
    width:100%;
}

#optiondiv{

    height:100%;
    width:50%;
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.options{
    height:100%;
    width:16%;
    /* border:2px solid brown; */
    color:#E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family:BellFort;
    transition: all 0.1s ease;
    text-decoration: none;
}

.options:hover{
    font-size: 22px;
    background-color: #e2e2e22c;
}